@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
:root {
    --main-bg-color: #10439F;
    --main-second-color: #874CCC;
    --main-third-color: #C65BCF;
    --main-primary-color: #F27BBD;
    --main-letter-header: #e5e5e5;
  
    --font-press-start: 'Press Start 2P', system-ui;
    --font-IBM: 'IBM Plex Mono', monospace;
  
    font-size: 62.5%; /* 1rem = 10px */
}
  
html, body {
    height: 100vh;
    font-weight: 400;
    font-style: normal;
}
  
#header {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    height: 96px;
    width: auto;
}
  
.logo-hearts {
    height: 56px;
}
  
#header h1 {
    color: var(--main-letter-header);
    font-family: var(--font-press-start);
    font-weight: 400;
    font-size: 2.4rem;
}
  
main {
    display: flex;
    margin-top: 5rem;
    margin-inline: 2rem;
    gap: 7rem;
    margin-inline: auto;
}
  
.container-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 6rem;
    padding: 4rem;
}
  
.container-product-title {
    font-family: var(--font-press-start);
    font-weight: 400;
    font-size: 2.4rem;
    margin: 40px 40px 40px 40px;
}
  
#painel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 1em gray;
    height: 100%;
    margin-bottom: 5rem;
}
  
.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px;
    background-color: var(--main-second-color);
    padding: 1rem;
    margin-top: 1.5rem;
    margin-inline: 1rem;
    border: 3px solid black;
    border-radius: 2.5rem;
}
  
.card img {
    width: 176px;
    height: 174px;
    border: 3px solid black;
    border-radius: .5rem;
}
  
.card-container--info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: var(--font-IBM);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--main-letter-header);
    align-items: flex-start;
}
  
.card-container--value {
    font-family: var(--font-IBM);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--main-letter-header);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    width: 176px;
    margin-top: 4rem;
    padding: 1rem;
    margin-top: 1rem;
}
  
.card-container--value img {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}
  
.form-add {
    margin-top: 6rem;
    display: grid;
    justify-content: center;
    justify-items: center;
}
  
.add-products-title {
    margin-top: 7.5rem;
    margin-bottom: 4rem;
    margin-inline: 4rem;
    font-family: var(--font-press-start);
    font-weight: 400;
    font-size: 2.4rem;
    justify-items: center;
}
  
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
  
.add-products {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#campo-nome, #campo-valor, #campo-imagem {
    width: 320px;
    height: 58px;
    color: var(--main-bg-color);
    background-color: var(--main-primary-color);
    border-radius: 10rem;
    font-family: var(--font-IBM);
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    border: 3px solid var(--main-third-color);
    padding: 10px;
}
  
.delete-button {
    background-color: var(--main-second-color);
    border: 0.5px solid var(--main-third-color);
}
  
.button-group {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    transition-duration: 0.4s;
}
  
#save {
    width: 188px;
    height: 55px;
    border-radius: 1.5rem;
    font-family: var(--font-IBM);
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--main-third-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-third-color);
    cursor: pointer;
}
  
#clear {
    width: 188px;
    height: 55px;
    border-radius: 1.5rem;
    font-family: var(--font-IBM);
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--main-bg-color);
    background-color: white;
    border: 3px solid var(--main-bg-color);
    cursor: pointer;
}
  
#save:hover {
    color: var(--main-third-color);
    background-color: var(--main-second-color);
    border: 3px solid var(--main-bg-color);
}
  
#clear:hover {
    color: var(--main-primary-color);
    background-color: var(--main-third-color);
    border: 3px solid var(--main-bg-color);
}  
  
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    height: 232px;
    margin-top: 5rem;
    width: auto;
}
  
.logo-hearts {
    height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
  
.logo-hearts h1 {
    color: var(--main-letter-header);
    font-family: var(--font-press-start);
    font-weight: 400;
    font-size: 2.4rem;
}
  
.development {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-IBM);
    font-size: 1.6rem;
    font-weight: 100;
    font-style: bold;
    color: var(--main-third-color);
}

.development p {
    padding: 10px;
}
@media screen and (max-width: 1295px) {
    main {
      gap: 1rem;
    }
}
  
@media screen and (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
}
  
@media screen and (max-width: 506px) {
    .container-add-products-title {
      margin-inline: 1rem;
    }
}
  
@media screen and (max-width: 451px) {
    .container-add-products-title {
      margin-inline: auto;
    }
  
    .form-add {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 300px;
    }
  
    .container-product-title {
      margin-inline: auto;
      width: 300px;
      font-size: 1.8rem;
    }
  
    .button-group {
      width: 250px;
    }
}
  
@media screen and (max-width: 360px) {
    .form-add {
      width: 360px;
    }
  
    #campo-nome, #campo-valor, #campo-imagem {
      width: 300px;
    }
  
    .button-group {
      width: 250px;
    }
}
